@page "/ChiSiamo"
<PageTitle>Chi siamo</PageTitle>

<h2>Chi Siamo</h2>
<section>
    <article>
        <pre>
La stazione meteo dell'ITI Blaise-Pascal Comandini è stato creato dai docenti e dagli alunni.
Questo sito è stato creato dagli alunni (Leonardo Mengozzi) della 5i, anno 2023-2024.

L'ITI Pascal di Cesena è rinomato per i corsi di Elettronica, Informatica e BioTecnologie.</pre>

    </article>
</section>
