@page "/Rilevazioni"
<PageTitle>Dove Trovarci</PageTitle>

<h2>Dove trovarci</h2>
<section>
    <article>

        <!-- mappa di google maps per vedere posizione della scuola e della stazione meteo-->
        <div class="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2863.102848596238!2d12.25091157667725!3d44.14312402060584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ca4cda208d003%3A0x11d98757a965e8b!2sIIS%20Pascal%20Comandini%20-%20sede%20ITT%20%22Blaise%20Pascal%22!5e0!3m2!1sit!2sit!4v1700039441462!5m2!1sit!2sit"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <pre class="text-center">
La stazione metereologica è posizionata nel giardino interno della scuola.</pre>
    </article>
</section>
