
<!-- footer della pagina-->
<div class="row mt-auto">
    <footer class="col">
        <p>Creato da: Leonardo Mengozzi 5I 2023-10-25</p>
        <p>Contatti: leonardo.mengozzi.stud@pascalcomandini.it</p>
    </footer>
</div>