
<!-- barra inalto -->
<div class="row">
    <header class="col">
        <div class="row">
            <div class="col-2">
                <NavLink href="/" class="img-fluid" alt="Logo del sito" width="50"><img src="../Imgs/soleRidimensionato.png" /></NavLink>
            </div>

            <div class="col-10">
                <h1>Stazione Meteo</h1>
            </div>
        </div>
    </header>
</div>