USE [master]
GO
/****** Object:  Database [DB_Meteo]    Script Date: 11/10/2024 03:00:40 PM ******/
CREATE DATABASE [DB_Meteo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Meteo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_Meteo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Meteo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_Meteo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Meteo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Meteo]
GO
/****** Object:  User [blazor]    Script Date: 11/10/2024 03:00:40 PM ******/
CREATE USER [blazor] FOR LOGIN [blazor] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [blazor]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [blazor]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [blazor]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [blazor]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [blazor]
GO
ALTER ROLE [db_datareader] ADD MEMBER [blazor]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [blazor]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [blazor]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [blazor]
GO
/****** Object:  Table [dbo].[GrandezzaFisica]    Script Date: 11/10/2024 03:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrandezzaFisica](
	[IdGrandezzaFisica] [int] IDENTITY(1,1) NOT NULL,
	[GrandezzaFisica] [varchar](20) NOT NULL,
	[Simbolo] [varchar](6) NULL,
	[SimboloUnitaMisuraAdottato] [varchar](6) NOT NULL,
	[Note] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrandezzaFisica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rilevamenti]    Script Date: 11/10/2024 03:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rilevamenti](
	[IdRilevamenti] [int] IDENTITY(1,1) NOT NULL,
	[DataOra] [datetime] NOT NULL,
	[Dato] [varchar](15) NOT NULL,
	[IdSensoriInstallati] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRilevamenti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sensori]    Script Date: 11/10/2024 03:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensori](
	[IdCodiceSensore] [int] IDENTITY(1,1) NOT NULL,
	[Camera] [tinyint] NULL,
	[Nome] [varchar](20) NULL,
	[Tipo] [varchar](30) NULL,
	[Caratteristiche] [varchar](40) NULL,
	[Note] [varchar](45) NULL,
	[IdGrandezzaFisica] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCodiceSensore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensoriInstallati]    Script Date: 11/10/2024 03:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensoriInstallati](
	[IdSensoriInstallati] [int] IDENTITY(1,1) NOT NULL,
	[Note] [varchar](50) NULL,
	[IdCodiceSensore] [int] NOT NULL,
	[IdNomeStazione] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSensoriInstallati] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stazioni]    Script Date: 11/10/2024 03:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stazioni](
	[IdNomeStazione] [varchar](10) NOT NULL,
	[Ip_Statico] [varchar](39) NULL,
	[LocalitaIndirizzo] [varchar](50) NULL,
	[Latitudine] [decimal](8, 6) NULL,
	[Longitudine] [decimal](8, 6) NULL,
	[Altitudine] [int] NULL,
	[Descrizione] [varchar](50) NULL,
	[Note] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNomeStazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rilevamenti]  WITH CHECK ADD FOREIGN KEY([IdSensoriInstallati])
REFERENCES [dbo].[SensoriInstallati] ([IdSensoriInstallati])
GO
ALTER TABLE [dbo].[Sensori]  WITH CHECK ADD FOREIGN KEY([IdGrandezzaFisica])
REFERENCES [dbo].[GrandezzaFisica] ([IdGrandezzaFisica])
GO
ALTER TABLE [dbo].[SensoriInstallati]  WITH CHECK ADD FOREIGN KEY([IdCodiceSensore])
REFERENCES [dbo].[Sensori] ([IdCodiceSensore])
GO
ALTER TABLE [dbo].[SensoriInstallati]  WITH CHECK ADD FOREIGN KEY([IdNomeStazione])
REFERENCES [dbo].[Stazioni] ([IdNomeStazione])
GO
USE [master]
GO
