@page "/Dati/Elimina/{id}"
@using Microsoft.AspNetCore.Components.Forms
<PageTitle>Elimina Dati</PageTitle>
@layout SecondLayout

@inject NavigationManager NavigationManager
@inherits InterazioneTabella

<h2>Elimina @Db.TableName</h2>

<EditForm Model="Table" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <dl class="row">
        @for (int i = 0; i < DisplayNames.Count; i++)
        {
            <dt class="col-sm-6">@DisplayNames[i]:</dt>
            int ok = i;
            <dd class="col-sm-6">
                <input disabled @bind:get="GetProp(ok)" 
                @bind:set="(value) => { SetProp(value, ok); }" />
            </dd>
        }
    </dl>

    <div class="text-center">
        <button type="submit">Elimina</button>

    </div>
</EditForm>

<BackToHome />