@page "/Meteo/Anemometro"
<PageTitle>Anemometro</PageTitle>

<!-- anemometro -->
<section>
    <h2>Anemometro</h2>
    <article>
        <pre>
Rileva la velocità/intensità del vento, in base alla velocità di rotazione delle coppette che è direttamente proporzionale alla velocità del vento.

L'anemometro è costituito da un rotore a cui sono applicate 16 bande argentate e nere, lette da un sensore ottico come 0 e 1 (usato da noi).
Il rotore gira mosso dal vento che spinge le coppe, la velocità di rotazione è direttamente proporzionale alla velocità del vento. La velocità in Km/h si ottiene facendo m * rilevazioni ottenute in un secondo(Hz), m è dato dal produttore.
Può funzionare con  dei magneti.

<b>Connessione</b>
I dati vengono trasmessi mediante un solo bit.</pre>
    </article>
    <article>
        <div class="center">
            <img src="../Imgs/meccamismi-ridimensionata.jpg" title="Meccanismi" alt="Meccanismi" />
        </div>
        <pre>

L'anemometro è collegato al meccanismo in verticale sopra è un encoder incrementale.
Tramite le lamelle metalliche il sensore posto a fianco legge 1/0.
In base alla velocità degli impulsi la cui frequenza determina la velocità del vento.</pre>
    </article>
</section>