@page "/Centralina/Raspberry"
<PageTitle>Raspberry</PageTitle>

<!-- rasberry -->
<section>
    <h2>Raspberry</h2>
    <article>
        <pre>
Computer usato perla lettura e trasmissione dei dati.
La rasberry è fornità di un sofware che consente quando arriva il messaggio del ups fa fare lo shutdown.
Lo shutdown consiste in uno spegnimento controllato, che evità giusti nel salvataggio dei dati letti dai sensori.
...</pre>
    </article>
</section>