@page "/Centralina/Batteria"
<PageTitle>Batteria</PageTitle>

<!-- batteria -->
<section>
    <h2>Batteria</h2>
    <article>
        <pre>
Batteria d a1.6V di dimensione sufficente a far fare lo shutdown alla rasberry.
...     </pre>
    </article>
</section>