@page "/Centralina/FiltroAntiRimbalzo"
<PageTitle>Filtro anti rimbalzo</PageTitle>

<!-- filtro anti rimbalzo -->
<section>
    <h2>Filtro anti rimbalzo</h2>
    <article>
        <pre>
Componente auto costruito, filtro di anti rimbalzo.
Necessario per alcuni sensori a interruttore meccanico il ciu segnale può non essere lineare ma "a rimbalzo".
Il circuito pulisce il segnale rendendolo lineare.
Il filtro può essere da software o harduer.
Il filo rosso e nero sono l'alimentaizone, il verde è il segnale provieniente dal pluviometro, e che esce alla rasberry.
...     </pre>
    </article>
</section>