@page "/Centralina/Ups"
<PageTitle>Ups</PageTitle>

<!-- ups -->
<section>
    <h2>Ups</h2>
    <article>
        <pre>
Ups customizzato.
Il filo giallo manda un segnale digitale che avverte se va via la tensione e dice alla rasberry che la sta alimentando.
Quando entra in funzione l'ups, alimenta la rasberry con l'energia fornita dalla batteria e dice alla rasberri che è alimentata da batteria cosi la rasberry si spegne correttamente.
Carica la batteria nel caso venga a meno l'alimentazione esterna, è un circuito auto costruito temporizzato, cioè fornisce una mezzora di tempo di alimentazione alla rasberry per lo spegnimento corretto.
...</pre>
    </article>
</section>