@page "/Centralina/StabilizzatoreDiTensione1"
<PageTitle>Stabilizzatore di Tensione 1</PageTitle>

<!-- stabilizzatore di tensione in alto a destra -->
<section>
    <h2>Stabilizzatore di tensione in altro a destra</h2>
    <article>
        <pre>
Regolatore di tensione, alimentazine in uscità dell'ups e la manda alla rasberry e trasforma da 7V a 5V stabilizzati.
...</pre>
    </article>
</section>