@page "/Centralina/PiCamera"
<PageTitle>Pi Camera</PageTitle>

<!-- picamera -->
<section>
    <h2>PiCamera</h2>
    <article>
        <pre>
Video camera usata per registrare cosa succede nei dintroni della stazine meteo.
...</pre>
    </article>
</section>