@page "/Centralina/StabilizzatoreDiTensione2"
<PageTitle>Stabilizzatore di tensione 2</PageTitle>

<!-- stabilizzatore di tensione in basso -->
<section>
    <h2>Stabilizzatore di tensione in basso a sinistra</h2>
    <article>
        <pre>
Fa parte dell'alimentazione, trasforma 12V dell'alimentaizone esterna solare, comvertendola in 7V per alimentare l'ups e rasberry.
...     </pre>
    </article>
</section>